@page
@model Clinica_Privada.Pages.Padecimiento.Padecimiento_listModel
@{
}

<!-- Interfaz gráfica html de la lista de Padecimientos -->
<br />
<h2> Lista de Padecimientos </h2>
<a class="btn btn-primary btn-sm" href="/Padecimiento/Padecimiento_form">Nuevo Padecimiento</a>
<table class="table">
    <thead>
        <tr>
            <th>Cédula del Paciente</th>
            <th>Nombre</th>
            <th>Síntomas</th>
            <th>Inicio de Sintomas</th>
        </tr>
    </thead>
</table>