@page
@model Clinica_Privada.Pages.Procedimiento.Procedimiento_listModel
@{
}

<!-- Interfaz gráfica html de la lista de Citas -->
<br />
<h2> Lista de Procedimientos </h2>
<a class="btn btn-primary btn-sm" href="/Procedimiento/Procedimiento_form">Nuevo Procedimiento</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Médico</th>
            <th>Paciente</th>
            <th>Fecha</th>
            <th>Motivo</th>
        </tr>
    </thead>
</table>