@page
@model Clinica_Privada.Pages.Cita.Cita_listModel
@{
}

<!-- Interfaz gráfica html de la lista de Citas -->
<br />
<h2> Lista de Citas </h2>
<a class="btn btn-primary btn-sm" href="/Cita/Cita_form">Nueva Cita</a>
<table class="table">
    <thead>
        <tr>
<<<<<<< HEAD
            <th>Médico</th>
            <th>Paciente</th>
            <th>Tratamientos</th>
            <th>Medicamentos</th>
            <th>Resultados</th>
=======
            <th>ID</th>
            <th>Médico</th>
            <th>Paciente</th>
            <th>Motivo</th>
            <th>Resultado</th>
            <th>Fecha</th>
>>>>>>> 043771107cbbcd50b25206781e87c42e4ac9816c
        </tr>
    </thead>
</table>