@page
@model Clinica_Privada.Pages.Cita.Cita_listModel
@{
}

<!-- Interfaz gráfica html de la lista de Citas -->
<br />
<h2> Lista de Citas </h2>
<a class="btn btn-primary btn-sm" href="/Cita/Cita_form">Nueva Cita</a>
<table class="table">
    <thead>
        <tr>
            <th>Médico</th>
            <th>Paciente</th>
            <th>Tratamientos</th>
            <th>Medicamentos</th>
            <th>Resultados</th>
        </tr>
    </thead>
</table>
