@page
@model Clinica_Privada.Pages.Paciente.Paciente_listModel
@{
}

<!-- Interfaz gráfica html de la lista de Pacientes -->
<br />
<h2> Lista de Pacientes </h2>
<a class="btn btn-primary btn-sm" href="/Paciente/Paciente_form">Nuevo Paciente</a>
<table class="table">
    <thead>
        <tr>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Apellido 1</th>
            <th>Apellido 2</th>
            <th>Telefono</th>
            <th>Sexo</th>
        </tr>
    </thead>
</table>